@charset "UTF-8";
/* **************
common
**************** */

body{
    font-size: 13px;
}

a:link,a:visited{
    color: #90be59;
}

.border{
    border: 1px solid #eee;
    border-radius: 3px;
}


/* **************
header
**************** */
/* headerContent */
.headerContent{
    width: 1000px;
    margin: 0 auto;
    padding: 10px 0 ;
}

.logo img{
    width: 300px;
    vertical-align: bottom;
}

/* globalNavigation */
.globalNavigation{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #e2e2e2;
    background: linear-gradient(to bottom, #fff 0%, #eaeaea 99%);
}

.globalNavigation ul{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden; /* はみ出し処理はボックスモデルの最後 */
}

.globalNavigation li{
    float: left;
    width: 249px;
    border-left: 1px solid #e2e2e2;
}

.globalNavigation li:last-child{
    width: 248px;
    border-right: 1px solid #e2e2e2;
}

.globalNavigation a{
    display: block;
    padding: 10px 30px;
    color: #777;
    text-align: center;
    text-decoration: none;
}

.globalNavigation a:hover{
    background: #f8f8f8;
}

.globalNavigation .current{
    border-bottom: 3px solid #90be59;
    background: #f2f2f2;
    font-weight: bold;
}

.globalNavigation .current a{
    margin-bottom: -3px;
    background: none;
}

/* Main Image */
.mainImage{
    width: 1000px;
    height: 440px;
    margin: 30px auto 50px;
}

.mainImage .imageScroll{
    border: 1px solid #eee;
    border-radius: 3px;
}

.mainImage img{
    display: block;
    max-width: 100%;
    max-height: 400px;
    margin: 0 auto;
}

/* **************
footer
**************** */
/* Footer Navigation */
.siteLinks{
    padding: 30px;
    background: #e8e8e8;
}

.siteLinks .inner{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.siteLinks .logo{
    float: left;
    width: 200px;
}

.siteLinks .logo img{
    display: block;
    width: 120px;
}

.siteLinks .linkList{
    overflow: hidden;
}

.siteLinks .linkList dl{
    float: left;
    width: 160px;
    font-size: 12px;
}

.siteLinks .linkList dt{
    margin-bottom: 10px;
    font-weight: bold;
}

.siteLinks .linkList dt a{
    text-decoration: none;
}

.siteLinks .linkList dd{
    margin-bottom: 5px;
}

.siteLinks .linkList dd a{
    color: #444;
    text-decoration: none;
}


/* Copyright */
.copyright{
    display: block;
    padding: 10px 0;
    background: #222;
    color: #f2f2f2;
    font-size: 11px;
    text-align: center;
}
