@charset    "UTF-8";
/* ***********
main
************* */
main{
    width: 1000px;
    margin: 0 auto 100px;
    overflow: hidden;
}

h2{
    margin-bottom: 20px;
    font-size: 24px;
}

.moreLink a{
    display: block;
    padding: 10px;
    border: 1px solid;
    border-radius: 3px;
    color: #90be59;
    text-align: center;
    text-decoration: none;
}


/***************
  Product
****************/
.product{
    float: left;
    width: 600px;
}

.product-list li{
    overflow: hidden;
    margin-bottom: 20px;
}

.product-list .image{
    float: left;
    margin-right: 30px;
}

.product-list .image img{
    width: 200px;
}

.product-list h3{
    margin-bottom: 10px;
    font-size: 20px;
}

.product-list .summary{
    margin-bottom: 10px;
}

/***************
  News 
****************/
.news{
    float: right;
    width: 300px;
}

.newsList li{
    margin-bottom: 30px;
}

.newsList .date{
    color: #aaa;
    font-size: 10px;
}