@charset    "UTF-8";
/* ***********
main
************* */
main{
    width: 1000px;
    margin: 0 auto 100px;
    overflow: hidden;
}

h2{
    margin-bottom: 20px;
    font-size: 24px;
}

.moreLink a{
    display: block;
    padding: 10px;
    border: 1px solid;
    border-radius: 3px;
    color: #90be59;
    text-align: center;
    text-decoration: none;
}

.moreLink a:hover{
    background: #90be59;
    color: #fff;
}

/***************
  Product
****************/
.product{
    float: left;
    width: 600px;
}

.product-list li{
    overflow: hidden;
    margin-bottom: 20px;
}

.product-list .image{
    float: left;
    margin-right: 30px;
}

.product-list .image img{
    width: 200px;
}

.product-list h3{
    margin-bottom: 10px;
    font-size: 20px;
}

.product-list .summary{
    margin-bottom: 10px;
}

/***************
  News 
****************/
.news{
    float: right;
    width: 300px;
}

.newsList li{
    margin-bottom: 30px;
}

.newsList .date{
    color: #aaa;
    font-size: 10px;
}

/* contact */
.contact{
    background: #fafafa;
    padding: 50px 0;
}

.contact h2{
    font-size: 30px;
    text-align: center;
}

.contact form{
    width: 600px;
    margin: 30px auto 0;
}

.contact form dt{
    font-size: 13px;
    margin-bottom: 10px;
}

.contact form .required dt::after{
    content: "*必須";
    margin-left: 10px;
    vertical-align: super;
    font-size: 10px;
    color: #f30;
}

.contact form :is(input, select,textarea,){
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
}

.contact textarea{
    height: 200px;
}

.contact select{
    background: #fff;
    height: 46px;
}

.contact .buttonArea{
    text-align: center;
}

.contact .buttonArea button{
    width: 200px;
    padding: 8px 0 10px;
    border: none;
    border-radius: 3px;
    background-color: #90be59;
    box-shadow: 2px 2px #1a6ea0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}