@charset "UTF-8";

/***************
  common
****************/

body {
  font-size: 13px;
}

a:link,
a:visited {
  color:#90BE59;
}

img.border {
  border: 1px solid #eee;
  border-radius: 3px;
}

section{
  padding: 20px;
}

.go-top{
  /* ① ポジショニング（配置） */
  display: block;
  position: fixed;
  right: 2%;
  bottom: 2%;

  /* ② ボックスモデル（サイズ・形） */
  width: 3rem;
  height: 3rem;
  
  /* ③ タイポグラフィ（文字）[設計 → 見た目 → 揃え → 装飾] */
  font-size: 2rem;        /* 設計：文字のサイズ（基準を決める） */
  line-height: 3.8rem;    /* 設計：行の高さ（今回は縦中央寄せにも使ってる） */
  color: #fff;            /* 見た目：文字の色（インク） */
  text-align: center;     /* 揃え：文字の配置（左右の整列） */
  text-decoration: none;  /* 装飾：下線などの飾り */

  /* ④ ビジュアル（装飾） */  
  background-color: #90be59;
}

/***************
  header
****************/

/* headerContent */

header .headerContent {
  margin: 0 auto;
  padding: 10px 0;
}

header .headerContent .logo img {
  display: block;
  width: 200px;
  margin: 0 auto;
}

/* globalNavigation */

header nav.globalNavigation {
  background: linear-gradient(to bottom,  #ffffff 0%,#eaeaea 99%);
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #e2e2e2;
}

header nav.globalNavigation ul {
  overflow: hidden;
}

header nav.globalNavigation ul li {
  border-left: 1px solid #e2e2e2;
  box-sizing: border-box;
  float: left;
  font-size: 11px;
  width: 25%;
}

header nav.globalNavigation ul li:last-child {
  border-right: 1px solid #e2e2e2;
}

header nav.globalNavigation ul li a {
  color: #777;
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

header nav.globalNavigation ul li a:hover {
  background: #f8f8f8;
}

header nav.globalNavigation ul li.current {
  background: #f2f2f2;
  border-bottom: 3px solid #90BE59;
  font-weight: bold;
}

header nav.globalNavigation ul li.current a {
  background: none;
  margin-bottom: -3px;
}

/* mainImage */

header .mainImage {
  padding: 20px;
}

header .mainImage .imageScroll {
  border: 1px solid #eee;
  border-radius: 3px;
}

header .mainImage img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/***************
  footer
****************/

/* footerNavigation */

footer .siteLinks {
  background: #e8e8e8;
  padding: 20px;
}

footer .siteLinks .inner {
  overflow: hidden;
}

footer .siteLinks .linkList {
  overflow: hidden;
  text-align: center;
}

footer .siteLinks .logo img {
  display: block;
  width: 150px;
  margin: 0 auto;
}

footer .siteLinks .linkList dl {
 margin-bottom: 30px;
}

footer .siteLinks .linkList dl dt {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

footer .siteLinks .linkList dl dt a {
  color: #90BE59;
  text-decoration: none;
}

footer .siteLinks .linkList dl dd {
  display: inline;
  margin-bottom: 12px;
  margin-bottom: 5px;
}

footer .siteLinks .linkList dl dd a {
  color:#444;
  text-decoration: none;
}

footer small {
  background: #222;
  color: #f2f2f2;
  display: block;
  font-size: 11px;
  padding: 10px 0;
  text-align: center;
}
